p {
    font-size: 1.15em;
    text-align: center;
}

header {
    text-align: center;
    background-color: burlywood;
}

body {
    background-color: antiquewhite;
}


.elementy {
    font-size: 1.3em;
}

.naglowki {
    text-align: center;
    font-size: 2em
}

td {
    font-size: 1.2em;
}

.lista {
    margin-left: 675px;
}